iframe {
  height: 400px;
  width: 800px;
}

address {
  margin: 1.25rem 0;
  line-height: 1.5;
  font-size: 25px;
  font-style: normal;
}

table {
  margin: 0 auto;
  width: 80%;
  border: 1px solid var(--dark-green);
}

th {
  background: var(--dark-green);
  color: var(--light-green);
}

th, td {
  border: 1px solid var(--dark-green);
  padding: 10px;
}

td a {
  color: var(--dark-green);
}

td a:hover {
  color: var(--dark-brown);
}

@media screen and (max-width: 980px) {  
  iframe {
    width: 100%;
  }
}