:root {
  --dark-brown: #230C0F;
  --light-brown: #99621E;
  --light-green: #8BB174;
  --dark-green: #16302B;
  --blue: #4F759B;
  --red: #750D37;
  --purple: #370926;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  color: var(--dark-green);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: var(--light-green);
  background-image: url('../images/hero.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h3 {
  font-size: 2.5rem;
}

section {
  background-color: var(--light-green);
  padding: 3.75rem;
  text-align: center;
  line-height: 1.7;
  color: var(--dark-green);
  width: 100vw;
  font-size: 1.25rem;
  margin: 300px auto 0 auto;
}

.section-title {
  font-size: 3.125rem;
  color: var(--dark-green);
  border-bottom: 0.175rem solid var(--red);
  padding-bottom: 1.25rem;
  width: 50%;
  margin: 0 auto 2rem auto;
}

.section-subheading {
  font-size: 2rem;
  color: white;
  padding-bottom: 0.625rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.item {
  margin: 50px auto;
  padding-bottom: 50px;
  width: 80%;
}

.item:not(:last-child) {
  border-bottom: 1px solid white;
}

/* Hero */
.hero {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.hero-cta {
  margin: 3.5%;
  color: white;
  font-size: 2.75rem;
  font-style: italic;
  line-height: 1.2;
}

.hero-cta h2 {
  text-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.5);
}

/* Navbar */
header {
  padding: 1.25rem 2.175rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-image: url('../images/hero.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

header h1 {
  font-weight: bold;
  font-size: 2.25rem;
  color: var(--light-green);
  margin: 0;
  text-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.5);
}

header a {
  color: var(--light-green);
}

header nav {
  margin: 0.5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header nav a {
  padding: 0.625rem 1rem;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.5);
}

header nav a:hover {
  color: white;
}

.active {
  background: var(--dark-brown);
  border-radius: 1rem;
  text-shadow: none;
}

.active:hover {
  color: var(--light-green);
}

/* Footer */
footer {
  background-color: var(--dark-green);
  color: var(--light-green);
  width: 100%;
  padding: 1.875rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer div {
  line-height: 1.5;
  text-align: right;
}

footer a {
  color: var(--light-green);
}

@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav a {
    font-size: 20px;
  }

  footer h2, footer div {
    text-align: center;
    width: 100%;
  }
  
  .hero-cta {
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }
}
